body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f5f5;
}

.menu ul {
  list-style-type: none; /* tira os bullets */
  padding: 0;
  margin: 0;
  background-color: #333;
  color: #fff; 
  display: flex;
}

.menu > ul > li {
  position: static;
}

.menu > ul > li > a {
  display: block; 
  padding: 1rem 2rem;    /* top-> left */
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.menu > ul > li:hover > a {
  background-color: #e62a09;
}

.dropdown {
  position: static; 
  top: 100%; 
  left: 0;
  width: 400px;
  font-size: 0;
  padding: 0px; 
}

.dropdown:hover {
  font-size: 1em;
  padding: auto;
}

.dropdown li {
  padding: 1px;
  border-top: 0px;
  border-bottom: 0px;
  background-color: #333;
  color: #333;
}

.dropdown li:hover {
  padding: 0.75rem;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #e62a09;
  color: #ddd
}

.menu ul li:hover .dropdown {
  display: block;
  color: #fff;
}

.SCNF {
  padding: 1rem 2rem;
}